  server:
    port: 8080

  spring:
    application:
      name: api-gateway
    cloud:
      gateway:
        routes:
          - id: user-service
            uri: http://user-service:8081
            predicates:
              - Path=/users/**

