  server:
    port: 8080

  spring:
    application:
      name: api-gateway
    cloud:
      gateway:
        routes:
          - id: user-service
            uri: http://user-service
            predicates:
              - Path=/users/**
            filters:
              - RewritePath=/users/(?<path>.*), /${path}
